div.toc {
    background: #e0e0e0;
}

body {
    background: white;
    color: black;
}

h1 {
    color: navy;
}

h2 {
    padding-top: 1em;
    border-top: black solid 2pt;
    color: navy;
}

h3 {
    padding-top: 0.5em;
    border-top: black dotted 1pt;
}

h4 {
    padding-top: 0.25em;
    border-top: #c0c0c0 dotted 1pt;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:active, a:hover {
    text-decoration: underline;
}

p {
    text-align: left;
}

pre {
    border-left: red double 3pt;
    padding-left:1em;
    margin-left: 2em;
}

code, pre {
    color: brown;
}

var, span.filename {
    font-family: monospace;
    font-style: normal;
    color: navy;
}
