<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<%- PROCESS "locale/lang.tt"; %>
<title><% lang.TITLE %></title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
/* ]]> */</script>

<script type="text/javascript" src="<% request.uri_base %>/javascripts/queryform.js"></script>

</head>
<body>
<div style="position:absolute;right:1em"><a href="doc?lang=<% locale %>"><% lang.DOCUMENTATION %></a></div>
<% content %>
<div id="footer">
<% lang.POWERED_BY %> <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</div>
</body>
</html>
