<%

lang.TITLE            = 'Druhý jazyk - Dotazy';
lang.CONTEXT_SIZE     = 'Velikost kontextu:';
lang.YOUR_QUERY       = 'Váš dotaz:';
lang.BACK             = 'Zpět';
lang.NEW_QUERY        = 'Nový dotaz';
lang.NEW_QUERY_ACCESS = 'N';
lang.SEARCH           = 'Hledat';
lang.SEARCH_ACCESS    = 'H';
lang.RESULTS          = 'Výsledky';
lang.POWERED_BY       = 'Používá';
lang.LAYER_W          = 'R0';
lang.LAYER_A          = 'R1';
lang.LAYER_B          = 'R2';
lang.BUTTON_LL        = 'Předcházející slovo';
lang.BUTTON_L         = 'Bezprostředně předcházející slovo';
lang.BUTTON_RR        = 'Následující slovo';
lang.BUTTON_R         = 'Bezprostředně následující slovo';
lang.BUTTON_D         = 'Odkaz do nižší roviny';
lang.BUTTON_U         = 'Odkaz do vyšší roviny';
lang.QUERY_NEXT       = 'Další';
lang.LAYER            = 'Rovina';
lang.DOCUMENTATION    = 'Dokumentace';
lang.EMPTY_QUERY      = 'Prázdný dotaz';
lang.SHOW_LAYER       = 'Ukázat rovinu';
lang.ERROR            = 'Chyba';
lang.UNDO             = 'Vrátit';
lang.UNDO_ACCESS      = 'V';
%>
